// fonts
$main-font: 'Harmonia Sans Pro Cyr', sans-serif;

// sizes
$global-border-radius: 5px;
$global-input-height: 40px;
$container-width: 1030px;
$gutter: 15px;

// colors
$text-color: #11223e;
$border-color-active: rgba(34, 62, 105, 0.2);
$primary-color: #fc3969;
$warning-color: #f8e71c;

// properties
$input-border: 1px solid rgba(34, 62, 105, 0.1);

// breakpoints
$lg: 1024px;
$sm: 640px;
